<main>
  <section class="form-section">
    <img src="./assets/logo.png" alt="helmet by macrovector" />
    <h2>{{ title }}</h2>
    <ng-content></ng-content>
    <div class="btn-wrapper">
      <button class="btn-primary">{{ primaryBtnText }}</button>
      <div class="divider">
        <div></div>
        <span>or</span>
        <div></div>
      </div>
      <button class="btn-secondary">{{ secondaryBtnText }}</button>
    </div>
  </section>
  <section class="main-section">
    <h1>Race masters</h1>
    <img
      src="./assets/login-main-illustration.png"
      alt="race car designed by freepik"
    />
    <p>Designed by freepik</p>
  </section>
</main>
